*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #121212;
    color: #fff;
} 
.popular-artists{
    margin: 15px 20px 40px 15px;
    display: flex;
   -ms-overflow-style: none;  
  scrollbar-width: none;  
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
    
}
header{
    
    justify-content: space-between;
    margin-bottom: 20px;
}
.item {
  flex: 0 0 auto;
  width: 150px;
}

.all-artists{
    
    cursor: pointer;
    
  white-space: nowrap;
   gap: 20px;
   padding: 10px;
}
.all-artists a{
    text-decoration: none;
    color: #fff;
    width: auto;
}
.popular-artists .item{
    padding: 5px 8px;
    margin-right: 15px;
     min-width: 140px;
}
.popular-artists .item:hover{
   background-color: #3b3c3c;
   border-radius: 10px;

}
.popular-artists .artist-item img{
    
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
}
.name-artist .play-btn{
    position: relative;
}
.name-artist .play-btn i{
    position: absolute;
    top: -50px;
   right: 8px;
    transform: all 03s ease;
    border-radius: 50%;
    color: #000000;
    background-color: #1db954;
    opacity: 0;

}
.item:hover .play-btn i{
    opacity: 1;
    transform: translate(-20px);
}
.name-artist{
    margin: 10px 0 0 20px;
}
.name-artist span.artist-name{
    font-size: 17px
}
.name-artist samp.artist-name a{
    color: #fff;
    text-decoration: none;
}
.name-artist samp.type{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.441);
}
.browse-all{
    margin: 15px 20px 40px 15px;

  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  flex-wrap: nowrap;
   -ms-overflow-style: none;  
  scrollbar-width: none; 
  
}


.browse-all .artist-item img{
    
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
    
    
}

.browse-all .item{
    padding: 6.5px 9px;
    margin-right: 5px;
  
}
.browse-all .item:hover{
    background-color: #3b3c3c;
    border-radius: 10px;
}
